:root {
  --grid-size: 6rem;
  --cursor: "pointer";
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(255, 206, 173);
}

.startPage {
  position: absolute;
  z-index: 1;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  position: absolute;
  z-index: 1;
  width: 35dvw;
  height: 40dvh;
  background-color: rgb(216, 244, 248);
  border-radius: 15px;
  padding: 3rem;
}

.panelContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.panelContent1 h1 {
  font-size: 3rem;
}

.playButton {
  width: 10vw;
  height: 8vh;
  background-color: rgb(20, 156, 20);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(16px);
  font-size: 2.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s linear;
}

.startButton:hover {
  transform: scale(1.1);
}

.panelContent2 {
  display: none;
}

.panelContent2 h3 {
  font-size: 2.5rem;
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40%;
}

.inputs input {
  font-size: 1.7rem;
  width: 10rem;
}

.winPage {
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: none;
}

.winPanel {
  width: 15vw;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(216, 244, 248);
  padding: 2rem;
  border-radius: 15px;
}

.winPanel h3 {
  font-size: 3rem;
}

.restartButton {
  width: 60%;
  height: 20%;
  background-color: rgb(20, 156, 20);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(16px);
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s linear;
}

.restartButton:hover {
  transform: scale(1.1);
}

.grid {
  display: none;
}

.grid-item {
  width: var(--grid-size);
  height: var(--grid-size);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  background-color: antiquewhite;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 15px;
  cursor: var(--cursor);
}

.grid-item span {
  pointer-events: none;
  user-select: none;
}

.grid-item-empty {
  width: var(--grid-size);
  height: var(--grid-size);
  opacity: 0;
}

.goToRight {
  animation: swapToRight 0.5s ease-in-out forwards;
}
.goToLeft {
  animation: swapToLeft 0.5s ease-in-out forwards;
}
.goToTop {
  animation: swapToTop 0.5s ease-in-out forwards;
}
.goToBottom {
  animation: swapToBottom 0.5s ease-in-out forwards;
}

@keyframes swapToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(var(--grid-size));
  }
}

@keyframes swapToLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(var(--grid-size) * -1));
  }
}

@keyframes swapToTop {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(var(--grid-size));
  }
}

@keyframes swapToBottom {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(var(--grid-size) * -1));
  }
}
/* less than 1500px */
@media (max-width: 1500px) {
  .winPanel {
    width: 25vw;
    padding: 1.5rem;
  }
}

/* less than 767px */
@media (max-width: 767px) {
  .panel {
    width: 70dvw;
    height: 80dvh;
    padding: 1.5rem;
  }
  .panelContent1 h1 {
    font-size: 4rem;
    text-align: center;
  }
  .playButton {
    width: 40vw;
    height: 9vh;
    font-size: 2.5rem;
  }
  .panelContent2 h3 {
    font-size: 4rem;
    text-align: center;
  }
  .inputs input {
    font-size: 1.7rem;
  }
  .winPanel {
    width: 80vw;
    padding: 1rem;
  }
}

/* less than 400px */
@media (max-width: 400px) {
  .panelContent1 h1 {
    font-size: 3rem;
    text-align: center;
  }
  .playButton {
    width: 40vw;
    height: 9vh;
    font-size: 2rem;
  }
  .panelContent2 h3 {
    font-size: 2.5rem;
    text-align: center;
  }
  .inputs input {
    font-size: 1.7rem;
  }
}
